[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.23.0"

[dev-packages]
bye-wiki = {editable = true,path = "."}
ipython = "*"

[requires]
python_version = "3.8"
